.sessionForm {
    display: flex;
    flex-direction: column;
}

#header {
    display: inline-block;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
}

.inputFields {
    height: 30px;
    width: 95%;
}

.sessionStartButton {
    width: 98%;
    height: 40px;
}

.errors {
    color: red;
    font-size: 16px;
    padding: 10px
}

#signUp {
    width: 100px;
    text-decoration: none;
    color: white;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(102, 95, 95);
    border-radius: 10px;
    margin-top: 18%;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    transition: 300ms;
}

#signUp:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#login {
    width: 100px;
    text-decoration: none;
    color: white;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(102, 95, 95);
    border-radius: 10px;
    margin-top: 20%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    transition: 300ms;
}

#login:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}