#navHeader {
    display: flex;
    justify-content: space-around;
    border: 3px solid rgb(37, 37, 37);
    border-radius: 100px;
    background-color: rgb(37, 37, 37);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
    color: white;
    font-size: 48px;
    font-weight: 700;
    padding: 24px;
    
}

.linksAuth {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-bottom: -15px;
}

#signUpModal {
    margin-right: 10px;
}

#loginModal {
    margin-left: 10px;
}


