#allOfPlaylist {
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 94.5%;
    width: 300px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(101, 6, 127);
    border-radius: 20px;
    z-index: 100;
    transition: 500ms;
}

.mini {
    height: 23% !important;
}

.minimizeButton {
    position: absolute;
    top: 1%;
    right: 2%;
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
}

.minimizeButton:hover {
    cursor: pointer;
}

#logo {
    display: inline-block;
    margin-top: -20%;
    margin-bottom: -20%;
    height: 200px;
    width: 250px;
}

#playlistContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 92%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(101, 6, 127);
    border-radius: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.addSong {
    color: white;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(101, 6, 127);
    border-radius: 10px;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 300ms;
}

.addSong:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.playlistButtons {
    height: 30px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#songList {
    text-decoration: none;
}

#songList::-webkit-scrollbar {
    display: hidden;
}

.songListItems {
    color: white;
}

.buttonStyle {
    display: block;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    background-color: transparent;
    border-style: none;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
}

.titleName {
    pointer-events: none;
    font-size: 16px;
    font-weight: 700;
}

.artistName {
    pointer-events: none;
    font-size: 12px;
    color: rgb(219, 219, 219);
}

.playPauseAndButton {
    display: flex;
    justify-content: flex-start;
}

.addDelete {
    display: inline-block;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
}

.addDelete:hover {
    cursor: pointer;
    color: white;
}

#addToPlaylist {
    margin-top: 90%;
    font-size: large;
}

#trashcan {
    height: 23px;
    width: 23px;
}

#trashcan:hover {
    color: white;
}

.dropDownMenuPlaylists {
    position: absolute;
    height: 40%;
    scroll-behavior: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.playlistListItems {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(101, 6, 127);
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    width: 8rem;
}

