#allOfPlaylist {
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 94.5%;
    width: 300px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(102, 95, 95);
    border-radius: 20px;
    z-index: 100;
    transition: 500ms;
}

.mini {
    height: 23% !important;
}

.minimizeButton {
    position: absolute;
    top: 1%;
    right: 2%;
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
}

.minimizeButton:hover {
    cursor: pointer;
}

#logo {
    display: inline-block;
    margin-top: -20%;
    margin-bottom: -20%;
    height: 200px;
    width: 250px;
}

#playlistContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 92%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(102, 95, 95);
    border-radius: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#playlistContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* #header {
    display: center;
    color: white;
    display: inline-block;
    font-size: 28px;
    padding: 5px;
    margin-top: 5px;
} */

.playlistButtons {
    height: 30px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#songList {
    text-decoration: none;
}

#songList::-webkit-scrollbar {
    display: hidden;
}

.songListItems {
    color: white;
}

.buttonStyle {
    display: block;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    background-color: transparent;
    border-style: none;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
}

.titleName {
    pointer-events: none;
    font-size: 16px;
    font-weight: 700;
}

.artistName {
    pointer-events: none;
    font-size: 12px;
    color: rgb(219, 219, 219);
}

.playPauseAndButton {
    display: flex;
    justify-content: flex-start;
}

.playPause {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
}

/* .dotMenu {
    display: inline-block;
} */