#visualizerContainer {
    display: inline-block;
    border: 2px solid red;
    border-radius: 20px;
    height: 550px;
    width: 70%;
    margin: 30px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
}

#controls {
    position: absolute;
    bottom: 30px;
    left: 0; 
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#container3D {
    width: 100%;
    height: 100%;
}